[Desktop Entry]
Name=ChromeOS
X-TDE-PluginInfo-Author=Vinceliuice
X-TDE-PluginInfo-Email=vinceliuice@hotmail.com
X-TDE-PluginInfo-Name=ChromeOS
X-TDE-PluginInfo-Version=
X-TDE-PluginInfo-Website=
X-TDE-PluginInfo-Category=
X-TDE-PluginInfo-Depends=
X-TDE-PluginInfo-License=LGPL
X-TDE-PluginInfo-EnabledByDefault=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7

[Wallpaper]
defaultWallpaperTheme=ChromeOS
defaultFileSuffix=.jpg
defaultWidth=1920
defaultHeight=1080
